
@{
    ViewBag.Title = "Petition";
}

<h2>Petition</h2>
<br />
<a class="btn btn-primary " href="@Url.Action("StartPetition","Program")">New Petition</a>
<br />
<br />
<br />

<script src="~/Scripts/script.js"></script>
<link href="~/Scripts/StyleSheet1.css" rel="stylesheet" />

<body>
    <div class="section clearfix">
        <h2 class="sectionHeader">Single Petition</h2>
        <div class="cardBox">
            <div class="car" id="veloster">
                <h4 style="text-align: center">  Petition 1</h4>
                <img src="./images/hyundaiVeloster.jpg" width="320" height="160">
                <table>
                    <tr>
                        <td style="color:white;">Background</td>
                        <td style="color:white;"></td>
                    </tr>
                    <tr>
                        <td style="color:white;">Goal</td>
                        <td style="color:white;"></td>
                    </tr>
                    <tr>
                        <td style="color:white;">By</td>
                        <td style="color:white;"></td>
                    </tr>
                    <tr>
                        <td colspan="2"  style="text-align:center">
                            <br /><a class="btn btn-link"  href="@Url.Action("Read", "Program")">Read more...</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="cardBox ">
            <div class="car" id="fit">
                <h4 style="text-align: center">  Petition 2</h4>
                <img src="./images/hondaFit.jpg" width="320" height="160">
                <table>
                    <tr>
                        <td style="color:white;">Background</td>
                        <td style="color:white;"></td>
                    </tr>
                    <tr>
                        <td style="color:white;">Goal</td>
                        <td style="color:white;"></td>
                    </tr>
                    <tr>
                        <td style="color:white;">By</td>
                        <td style="color:white;"></td>
                    </tr>

                    <tr>
                        <td colspan="2" style="text-align:center">
                            <br /><a class="btn btn-link" href="@Url.Action("Read", "Program")">Read more...</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="cardBox">
            <div class="car" id="cruze">
                <h4 style="text-align: center">  Petition 3</h4>
                <img src="./images/chevCruze.jpg" width="320" height="160">
                <table>
                    <tr>
                        <td style="color:white;">Background</td>
                        <td style="color:white;"></td>
                    </tr>
                    <tr>
                        <td style="color:white;">Goal</td>
                        <td style="color:white;"></td>
                    </tr>
                    <tr>
                        <td style="color:white;">By</td>
                        <td style="color:white;"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:center">
                            <br /><a class="btn btn-link" href="@Url.Action("Read", "Program")">Read more...</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="section clearfix">
        <h2 class="sectionHeader">Group Petition</h2>
        <div class="cardBox">
            <div class="car" id="amrapide">
                <h4 style="text-align: center">  Petition 1</h4>
                <img src="./images/amRapide.jpg" width="320" height="160">
                <table>
                    <tr>
                        <td style="color:white;">Background</td>
                        <td style="color:white;"></td>
                    </tr>
                    <tr>
                        <td style="color:white;">Goal</td>
                        <td style="color:white;"></td>
                    </tr>
                    <tr>
                        <td style="color:white;">By</td>
                        <td style="color:white;"></td>
                    </tr>

                    <tr>
                        <td colspan="2" style="text-align:center">
                            <br /><a class="btn btn-link" href="@Url.Action("Read", "Program")">Read more...</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="cardBox">
            <div class="car" id="audia3">
                <h4 style="text-align: center">  Petition 2</h4>
                <img src="./images/audiA3.jpg" width="320" height="160">
                <table>
                    <tr>
                        <td style="color:white;">Background</td>
                        <td style="color:white;"></td>
                    </tr>
                    <tr>
                        <td style="color:white;">Goal</td>
                        <td style="color:white;"></td>
                    </tr>
                    <tr>
                        <td style="color:white;">By</td>
                        <td style="color:white;"></td>
                    </tr>

                    <tr>
                        <td colspan="2" style="text-align:center">
                            <br /><a class="btn btn-link" href="@Url.Action("Read", "Program")">Read more...</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="cardBox">
            <div class="car" id="mgrand">
                <h4 style="text-align: center">  Petition 3</h4>
                <img src="./images/mazda6Grand.jpg" width="320" height="160">
                <table>
                    <tr>
                        <td style="color:white;">Background</td>
                        <td style="color:white;"></td>
                    </tr>
                    <tr>
                        <td style="color:white;">Goal</td>
                        <td style="color:white;"></td>
                    </tr>
                    <tr>
                        <td style="color:white;">By</td>
                        <td style="color:white;"></td>
                    </tr>

                    <tr>
                        <td colspan="2" style="text-align:center">
                            <br /><a class="btn btn-link" href="@Url.Action("Read", "Program")">Read more...</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
   
</body>

