
@{
    ViewBag.Title = "Stories";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<h1>The Stories</h1>
<br />
<a class="btn btn-primary " href="@Url.Action("StoriesCreate","Admin")">New Story</a>
<br />
<br />
<br />

<form>
    <div class="piece">
        <h2 class="sectionHeader">Story 1</h2>
        <div class="two">
            <div class="car" id="veloster">

                <table style="width:100%">
                    <tr>
                        <td><span style="font-weight:bold; color:gray">Meet Jade</span> an adult survivor of sexual abuse. She has been living with these memories for a long time. Some survivors keep the abuse a secret for many years. They may have tried to tell an adult and met with resistance or felt there was no one they could trust. 
                        <br />
                        <a class="btn btn-link disabled" href="@Url.Action("MoreS", "Program")">Read more...</a></td>
                        <td><img src="./images/hyundaiVeloster.jpg" width="640" height="320" alt="Story 1"></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <a class="btn btn-danger " href="@Url.Action("StoriesUpdate","Admin")">Update</a>
    <a class="btn btn-danger " href="@Url.Action("StoriesDelete","Admin")">Delete</a>

</form>

<br />
<br />
<form>
    <div class="piece">
        <h2 class="sectionHeader">Story 2</h2>
        <div class="two">
            <div class="car" id="veloster">

                <table style="width:100%">
                    <tr>
                        <td>
                            <span style="font-weight:bold; color:gray">Meet Jade</span> an adult survivor of sexual abuse. She has been living with these memories for a long time. Some survivors keep the abuse a secret for many years. They may have tried to tell an adult and met with resistance or felt there was no one they could trust.
                            <br />
                            <a class="btn btn-link disabled" href="@Url.Action("MoreS", "Program")">Read more...</a>
                        </td>
                        <td><img src="./images/hyundaiVeloster.jpg" width="640" height="320" alt="Story 1"></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <a class="btn btn-danger " href="@Url.Action("StoriesUpdate","Admin")">Update</a>
    <a class="btn btn-danger " href="@Url.Action("StoriesDelete","Admin")">Delete</a>

</form>

<br />
<br />
<form>
    <div class="piece">
        <h2 class="sectionHeader">Story 3</h2>
        <div class="two">
            <div class="car" id="veloster">

                <table style="width:100%">
                    <tr>
                        <td>
                            <span style="font-weight:bold; color:gray">Meet Jade</span> an adult survivor of sexual abuse. She has been living with these memories for a long time. Some survivors keep the abuse a secret for many years. They may have tried to tell an adult and met with resistance or felt there was no one they could trust.
                            <br />
                            <a class="btn btn-link disabled" href="@Url.Action("MoreS", "Program")">Read more...</a>
                        </td>
                        <td><img src="./images/hyundaiVeloster.jpg" width="640" height="320" alt="Story 1"></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <a class="btn btn-danger " href="@Url.Action("StoriesUpdate","Admin")">Update</a>
    <a class="btn btn-danger " href="@Url.Action("StoriesDelete","Admin")">Delete</a>

</form>
