
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<h1>Users</h1>
<br />
<a class="btn btn-primary " href="@Url.Action("UsersCreate","Admin")">New User</a>
<br />
<br />
<br />

<form>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">User Name</h4>
            <h6 class="card-subtitle mb-2 text-muted">Contact details</h6>
            <p class="card-text">jnjdbh jrbejbrghebh geou5hujng rjijhrn trjnnjujhnjn htnjnjnjbnjnrj hrnjjhnjnyhn hrnyhnjnhyr rlknkrjn j hj h</p>
            <a href="@Url.Action("UsersUpdate","Admin")" class="card-link">Update</a>
            <a href="@Url.Action("UsersDelete","Admin")" class="card-link">Delete</a>
        </div>
    </div>
</form>

<form>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">User Name</h4>
            <h6 class="card-subtitle mb-2 text-muted">Contact details</h6>
            <p class="card-text">jnjdbh jrbejbrghebh geou5hujng rjijhrn trjnnjujhnjn htnjnjnjbnjnrj hrnjjhnjnyhn hrnyhnjnhyr rlknkrjn j hj h</p>
            <a href="@Url.Action("UsersUpdate","Admin")" class="card-link">Update</a>
            <a href="@Url.Action("UsersDelete","Admin")" class="card-link">Delete</a>
        </div>
    </div>
</form>

<form>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">User Name</h4>
            <h6 class="card-subtitle mb-2 text-muted">Contact details</h6>
            <p class="card-text">jnjdbh jrbejbrghebh geou5hujng rjijhrn trjnnjujhnjn htnjnjnjbnjnrj hrnjjhnjnyhn hrnyhnjnhyr rlknkrjn j hj h</p>
            <a href="@Url.Action("UsersUpdate","Admin")" class="card-link">Update</a>
            <a href="@Url.Action("UsersDelete","Admin")" class="card-link">Delete</a>
        </div>
    </div>
</form>

<form>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">User Name</h4>
            <h6 class="card-subtitle mb-2 text-muted">Contact details</h6>
            <p class="card-text">jnjdbh jrbejbrghebh geou5hujng rjijhrn trjnnjujhnjn htnjnjnjbnjnrj hrnjjhnjnyhn hrnyhnjnhyr rlknkrjn j hj h</p>
            <a href="@Url.Action("UsersUpdate","Admin")" class="card-link">Update</a>
            <a href="@Url.Action("UsersDelete","Admin")" class="card-link">Delete</a>
        </div>
    </div>
</form>

<form>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">User Name</h4>
            <h6 class="card-subtitle mb-2 text-muted">Contact details</h6>
            <p class="card-text">jnjdbh jrbejbrghebh geou5hujng rjijhrn trjnnjujhnjn htnjnjnjbnjnrj hrnjjhnjnyhn hrnyhnjnhyr rlknkrjn j hj h</p>
            <a href="@Url.Action("UsersUpdate","Admin")" class="card-link">Update</a>
            <a href="@Url.Action("UsersDelete","Admin")" class="card-link">Delete</a>
        </div>
    </div>
</form>



